.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    font-size: 1.4em;
    background-color: #e0e1e6;
    color: #888888;
    flex: 1;
    outline: 1px solid #888888;
    font-weight: bolder;
}

.singer {
    background-color: #fe9241;
    color: #ffffff;
}



